.Outer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  user-select: none;
  padding: 10px;
}

.Canvas {
  all: unset;
  user-select: none;
  cursor: crosshair;
}

.Stretch.Outer {
  overflow: hidden;
}

.Stretch .Canvas {
  height: 100%;
  width: 100%;
  overflow: hidden;
}


