
.ColorPreview {
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.ComplexNumberInput {
  padding: 0px;
  user-select: none;
}

.ComplexNumberInput .Grid {
  stroke-linecap: square;
  fill: none;
}

.ComplexNumberInput .Grid .Major {
  stroke-width: 0.5;
  stroke-opacity: 1;
}

.ComplexNumberInput .Grid .Minor {
  stroke-width: 0.5;
  stroke-opacity: 0.3;
}

.ComplexNumberInput .Marker {
  stroke-width: 0;
}